*.class
*.log

.bsp
.idea
project/project
project/target
target

cache/*
.cache/*

# For MacOS filesystem
.DS_Store

# Indexes created by these programs
Docker/*.idx
Docker/index_*/
Docker/credentials/

# Files for Docker deployment
Docker/stage/

