openapi: 3.0.2
info:
  description: University of Arizona Concept Alignment API
  title: linking
  version: 1.0.0
servers:
  - url: http://linking.cs.arizona.edu
    description: University of Arizona linking server
  - url: http://localhost:9001
    description: Local host running the webapp

components:
  schemas:
    statusResponse:
      type: object
      properties:
        number:
          description: a numeric value for computers
          type: number
          format: int32
        text:
          description: a textual value for humans
          type: string
    searchResponse:
      type: array
      items:
        type: object
        properties:
          score:
            description: a value in the range [-1, 1] with higher being a better match for the search
            type: number
            format: float
          datamartId:
            description: an indication of the source of the data to distinguish clashing datasetIds from different sources.  Together the datamartId, datasetId, and variableId should form a GUID.
            type: string
          datasetId:
            description: a unique identifer for the dataset of a particular datamart
            type: string
          variableId:
            description: a unique identifier for a variable of a particular dataset
            type: string
          variableName:
            description: a more human readable version of the variableId
            type: string
          variableDescription:
            description: an more thorough explanation of the variable
            type: string
            
paths:
  /v1/ping:
    get:
      summary: Respond with OK
      responses:
        200:
          description: OK

  /v1/echo:
    get:
      summary: Echo back the input text
      parameters:
        - name: text
          in: query
          description: text that should be echoed back
          required: true
          schema:
            type: string
          example: Kilroy was here.
      responses:
        200:
          description: A copy of the input
          content:
            'text/plain; charset=utf-8':
              schema:
                type: string

  /v1/status:
    get:
      summary: Report the status (busy or ready)
      responses:
        200:
          description: Status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/statusResponse"

  /v1/search:
    get:
      summary: Perform the concept alignment
      description: "The query term is converted to vectors, the nearest matches from the datamart are found, and then they are returned with descriptions."
      parameters:
        - name: query
          in: query
          description: a query by example
          required: true
          schema:
            type: string
          example: corn
        - name: maxHits
          in: query
          description: maximum number of matches to return
          required: false
          schema:
            type: integer
            format: int32
            default: 10
          example: 20
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchResponse"

  /v1/reindex:
    get:
      summary: Scrape and reindex the datamarts and SuperMaaS
      description: "The longwinded description goes here."
      parameters:
        - name: secret
          in: query
          description: the secret that allows access to this operation
          required: true
          schema:
            type: string
          example: secret
      responses:
        200:
          description: Status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/statusResponse"
