openapi: 3.0.2
info:
  description: University of Arizona linking server
  title: linking
  version: 1.0.0
servers:
  - url: http://linking.cs.arizona.edu
    description: University of Arizona linking server
  - url: http://localhost:9000
    description: Local host running the webapp

components:
  schemas:
    searchResponse:
      type: array
      items:
        type: object
        properties:
          score:
            type: number
            format: float
          datamartId:
            type: string
          datasetId:
            type: string
          variableId:
            type: string
          variableDescription:
            type: string
            
paths:
  /v1/ping:
    get:
      responses:
        200:
          description: OK

  /v1/echo:
    get:
      summary: Echo back the input text
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: A copy of the input
          content:
            'text/plain; charset=utf-8':
              schema:
                type: string

  /v1/search:
    get:
      summary: Link
      description: ""
      parameters:
        - name: query
          in: query
          description: example text
          required: true
          schema:
            type: string
        - name: maxHits
          in: query
          description: maximum number of matches to return
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchResponse"
